<style>
	.ppinfo .readmore
	{
		-moz-appearance: none;
		background-color: #097ef8;
		border-color: #0665c8;
		border-radius: 3px !important;
		border-style: solid;
		border-width: 0;
		box-shadow: 0.3em 0.3em 0.3em 0.2em #ddd;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
		font-size: 1rem;
		font-weight: normal;
		line-height: normal;
		margin: 0 0 1.25rem;
		padding: 1rem 2rem 1.0625rem;
		position: relative;
		text-align: center;
		text-decoration: none;
		margin-top: 1em;
    }

	.ppinfo h3
	{
		font-size: 150%;
		margin-bottom: 2em;
		margin-top: 2em;
	}
</style>

<div class="ppinfo">

	<p>There are several Broadcast add-on packs that offer a collection of add-ons to make broadcasting easier, saving you even more time.</p>

	<p><a href="https://broadcast.plainviewplugins.com/" class="readmore">Read more about the packs</a></p>

	<div class="section">
		<h3>3rd party pack</h3>

		<p>These add-ons act as glue between Broadcast and plugins from 3rd parties. They automatically detect features and do any extra work necessary to integrate the plugins during broadcasting.</p>

		<ul>
			<li><a href="https://broadcast.plainviewplugins.com/addon/activity-monitor/">Activity Monitor</a> adds a Broadcast hook to the <a href="http://wordpress.org/plugins/plainview-activity-monitor/">Plainview Activity Monitor</a>, at the same time disabling post related hooks during broadcasting to prevent unnecessary logging.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/advanced-custom-fields/">Advanced Custom Fields</a> adds support for correctly broadcasting various field types using Elliot Condon&#8217;s <a href="http://www.advancedcustomfields.com/">Advanced Custom Fields plugin</a>.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/all-in-one-calendar/">All In One Calendar</a> adds support for <a href="http://www.wordpress.org/plugins/all-in-one-event-calendar/">Timely&#8217;s All In One Calendar</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/avia-layout-builder/">Avia Layout Builder</a> runs the hidden Avia Layout Builder content through the Attachment Shortcode Broadcast plugin.</a>
			<li><a href="https://broadcast.plainviewplugins.com/addon/bbpress/">bbPress</a> adds support for <a href="https://wordpress.org/plugins/bbpress/">BBPress</a> forums, topics and replies.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/beaver-builder/">Beaver Builder</a> adds support for the <a href="https://www.wpbeaverbuilder.com/">Beaver Builder page builder plugin</a>.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/calendarize-it/">Calendarize It</a> adds support for <a href="http://codecanyon.net/item/calendarize-it-for-wordpress/2568439">Calendarize It!</a> events.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/contact-form-7/">Contact Form 7</a> adds support for <a href="https://wordpress.org/plugins/contact-form-7/">Takayuki Miyoshi's Contact Form 7</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/divi-builder/">Divi Builder</a> adds support for <a href="https://www.elegantthemes.com/plugins/divi-builder/">Divi Builder</a> and themes using it.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/download-monitor/">Download Monitor</a> adds support for downloads and shortcodes from <a href="https://wordpress.org/plugins/download-monitor/">Never5's Download Monitor</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/eventon/">EventOn</a> adds support for Ashan Jay's <a href="http://www.myeventon.com/">EventON</a> plugin with tickets.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/event-organiser/">Event Organiser</a> adds support for Stephen Harris’ <a href="http://wordpress.org/plugins/event-organiser/">Event Organiser plugin</a>, with events and venues.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/events-manager/">Events Manager</a> adds support for the <a href="https://wordpress.org/plugins/events-manager/">Events Manager</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/event-organiser/">Event Organiser</a> adds support for Stephen Harris&#8217; <a href="http://wordpress.org/plugins/event-organiser/">Event Organiser plugin</a>, with events and venues.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/foogallery/">FooGallery</a> adds support for <a href="https://wordpress.org/plugins/foogallery/">FooPlugins&#8217; FooGallery</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/geo-my-wp/">GEO my WordPress</a> adds support for Eyal Fitoussi&#8217;s <a href="https://wordpress.org/plugins/geo-my-wp/">GEO my WordPress</a> geolocation plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/geodirectory/">Geodirectory</a> adds support for <a href="https://wordpress.org/plugins/geodirectory/">Geodirectory</a> places.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/global-content-blocks/">Global Content Blocks</a> adds support for shortcodes from <a href="https://wordpress.org/plugins/global-content-blocks/">WP Xpert&#8217;s Global Content Blocks</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/metaslider/">Metaslider</a> adds support for <a href="https://www.metaslider.com/">Metaslider</a> shortcodes.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/polylang/">Polylang</a> adds support for Broadcasting posts in different languages using Frédéric Demarle&#8217;s <a href="https://wordpress.org/plugins/polylang/">Polylang</a> translation plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/post-expirator/">Post Expirator</a> adds support for Aaron Axelsen's <a href="https://wordpress.org/plugins/post-expirator/">Post Expirator</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/social-networks-auto-poster/">Social Networks Auto Poster</a> tells <a href="https://wordpress.org/plugins/social-networks-auto-poster-facebook-twitter-g/">NextScripts&#8217; Social Networks Auto Poster</a> (SNAP) to use the different social settings on each blog.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/tablepress/">TablePress</a> adds support for broadcasting <a href="https://wordpress.org/plugins/tablepress/">TablePress</a> shortcodes.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/tao-schedule-update/">Tao Schedule Update</a> adds support for <a href="https://wordpress.org/plugins/tao-schedule-update/">Tao Schedule Update</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/the-events-calendar/">The Events Calendar</a> adds venue and organiser support for Modern Tribe&#8217;s <a href="https://wordpress.org/plugins/the-events-calendar/">The Events Calendar </a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/toolset/">Toolset</a> adds support for <a href="https://wp-types.com/">OnTheGoSystems&#8217; Toolset</a> plugins: CRED, Types and Views.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/woocommerce/">WooCommerce</a> adds support for <a href="https://wordpress.org/plugins/woocommerce/">WooCommerce</a> extended features.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/wpml/">WPML</a> adds support for <a href="http://wpml.org/">ICanLocalize&#8217;s WPML</a> translation plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/wp-ultimate-recipe/">WP Ultimate Recipe</a> adds support for recipes and ingredients from <a href="http://bootstrapped.ventures">Bootstrapped Ventures’</a> <a href="http://bootstrapped.ventures">WP Ultimate Recipe</a> plugin.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/yoast-seo/">Yoast SEO</a> adds support for the <a href="https://wordpress.org/plugins/wordpress-seo/">Yoast SEO</a> plugin.</li>
		</ul>
	</div>

	<div class="section">
		<h3>Control pack</h3>

		<p>These add-ons give you extra control of what you broadcast and how.</p>

		<ul>
			<li><a href="https://broadcast.plainviewplugins.com/addon/all-blogs/">All Blogs</a> gives all users access to all of the blogs in the network.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/all-blogs/">All Blogs Superadmin</a> allows only superadmins to broadcast to all blogs in the network without having to be a user of the blog.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/attachment-shortcodes/">Attachment Shortcodes</a> copies attachments specified in custom shortcodes.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/back-to-parent/">Back To Parent</a> updates the parent post with the new child content.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/comments/">Comments</a> adds support for broadcasting of comments.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/custom-field-attachments/">Custom Field Attachments</a> allows post custom field containing attachment IDs to be broadcasted correctly.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/delete-before-broadcast/">Delete Before Broadcast</a> deletes duplicate and similar child posts on each blog before broadcasting</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/hreflang/">Hreflang</a> adds support for <a href="https://en.wikipedia.org/wiki/Hreflang">SEO-friendly hreflang html tags</a>.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/keep-child-status/">Keep Child Status</a> keeps the status of post children to private, pending, published, draft, no matter the status of the parent.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/local-files/">Local Files</a> automatically copies local files to each blog and updates the links in the content.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/local-links/">Local Links</a> automatically updates links to local posts on each child blog.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/no-new-terms/">No New Terms</a> prevents taxonomy terms from being created on child blogs.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/per-blog-taxonomies/">Per Blog Taxonomies</a> allows individual control of specific taxonomies for each child post.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/permalinks/">Permalinks</a> provides more precise control of permalinks for both parents and children.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/protect-child-properties/">Protect Child Properties</a> prevent various properties of child posts from being overwritten.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/redirect-all-children/">Redirect All Children</a> redirects single post views from visitors of child posts to the parent post.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/shortcode-attachments/">Shortcode Attachments</a> modifies attachment IDs found in shortcodes to match their equivalent attachments on each blog.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/shortcode-menus/">Shortcode Menus</a> modifies menu IDs found in shortcodes to match their equivalent menus on each blog.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/thumbnail-sizes/">Thumbnail Sizes</a> allows for different additional thumbnail sizes on a per-blog basis.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/update-attachments/">Update Attachments</a> updates existing attachments by copying over the files to the child blogs.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/user-blog-settings/">User &amp; Blog Settings</a> (UBS) can hide the broadcast meta box and/or menu, modify the meta box to force/prevent broadcast to blogs, with separate settings for users / blogs / roles.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/user-blog-settings-post/">User &amp; Blog Settings Post</a> uses the modifications from the UBS plugin to broadcast posts with one click.</li>
		</ul>
	</div>

	<div class="section">
		<h3>Efficiency pack</h3>

		<p>These add-ons allow you to broadcast more efficiently, saving you even more time.</p>

		<ul>
			<li><a href="https://broadcast.plainviewplugins.com/addon/blog-groups-2/">Blog Groups 2</a> provides a means of grouping blogs together, in order to be able to quickly select and unselect blogs from the Broadcast meta box.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/duplicate-attachments/">Duplicate Attachments</a> will duplicate the attachment and thumbnails, instead of letting WordPress regenerate them.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/find-some-unlinked-children/">Find Some Unlinked Children</a> can selectively link orphans / unlinked posts to parents, instead of automatically linking all found children.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/new-blog/">New Blog Broadcast</a> automatically broadcasts posts when creating a new blog.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/purge-children/">Purge Children</a> removes children and their attached files from child blogs.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/queue/">Queue</a> adds a broadcast queue which helps to broadcast posts to tens / hundreds / more blogs.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/rebroadcast/">Rebroadcast</a> updates selected parent posts by using a bulk action.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/send-to-many/">Send To Many</a> allows mass broadcast of several posts to blogs at once.</li>
		</ul>
	</div>

	<div class="section">
		<h3>Utilities pack</h3>

		<p>These add-ons do things semi-related to broadcasting, but are good to have none-the-less.</p>

		<ul>
			<li><a href="https://broadcast.plainviewplugins.com/addon/cdn-workaround/">CDN Workaround</a> works around faulty CDNs that do not report the correct URL for attachments.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/lock-post/">Lock Post</a> allows users to lock editing of posts / pages to only themselves and super admins.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/menus/">Menus</a> copies menus between blogs (overwrite / update), with support for equivalent child posts on the child blogs and equivalent taxonomies.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/php-code/">PHP Code</a> - Run custom PHP code on selected blogs. Easily switch themes for all blogs, for example.</li>
			<li><a href="https://broadcast.plainviewplugins.com/addon/sync-taxonomies/">Sync Taxonomies</a> synchronize the taxonomies of target blogs with those from a source blog.</li>
		</ul>
	</div>

	<br/>

	<p><a href="https://broadcast.plainviewplugins.com/" class="readmore">Read more about the packs</a></p>

</div>
